*{
}
.title{
  text-align: center;
}
div{
  padding-top: 40px;
}
.row{
text-align: center;
}
.grey{
background-color:  #f9f9f9;
}
@media screen and (max-width:768px){
img{
  height: 125px;
  }
}
@media screen and (min-width:769px) and (max-width:992px){
img{
  height: 160px;
}
}
@media screen and (min-width:993px){
  img{
    height: 200px;
  }
}
